<ion-header>
  <ion-navbar color="putih">
    <ion-title>Web Gradient</ion-title>
  </ion-navbar>
</ion-header>

<ion-content >

  <ion-grid>
      <ion-row>
        <ion-col *ngFor="let grad of Gradients,let i = index">
            <ion-card no-padding no-margin (click)="openGradient(grad,getBg(i),i)">
                <ion-card-header>
                  {{grad.title | prettyPrint}}
                </ion-card-header>
                <ion-card-content>
                  <div class="gradient_background" [ngStyle]="grad.css | background">

                  </div>
                </ion-card-content>
              </ion-card>
        </ion-col>
      </ion-row>
  </ion-grid>
</ion-content>
