page-home {
  .content-md {
    background-color: #f6f6f6; // background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    // background-size: 400% 400%;
    // -webkit-animation: Gradient 15s ease infinite;
    // -moz-animation: Gradient 15s ease infinite;
    // animation: Gradient 15s ease infinite;
  }
  .toolbar-background-md {
    border-color: #b2b2b2;
    background: #ffffff;
}
  .col{
    padding:5px !important
  }
  .card-md {
    height: 100%;
    // margin: 0 0 0 10px;
    // padding: 0;
    background-color: #fff;
    border-radius: 10px;
    width: 100%;
    font-size: 1.4rem;
    cursor: pointer;
    h2 {
      text-transform: uppercase;
      margin: 0px 0;
      font-size: 1.6rem;
      font-weight: bolder;
      color: #8a8a8a;
    }
    
  }
  .toolbar-md-dark .toolbar-background-md {
    // background: rgba(0, 0, 0, 0.3);
  }
  

 

  .gradient_background {
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border-radius: 50%;
    height: 120px;
    width: 120px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   
}
.card-header-md {
  font-size: 1.2rem;
  color: #717171;
  text-align: center;
  padding: 10px;
}
  
}
