page-gradient {
  .toolbar-background-md {
    border-color: rgba(0, 0, 0, 0.3);
    background: rgba(0, 0, 0, 0.3);
  }
  .toolbar-title-md {
    color: #f8f8f8
  }
  .css {
    width: 80%;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #f8f8f8;
    margin-left: auto;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 9px;
    padding: 20px;
    position: relative;
  }
  pre {
    white-space: pre-wrap;
    /* css-3 */
    white-space: -moz-pre-wrap;
    /* Mozilla, since 1999 */
    white-space: -pre-wrap;
    /* Opera 4-6 */
    white-space: -o-pre-wrap;
    /* Opera 7 */
    word-wrap: break-word;
  }
}
