<ion-header  [ngStyle]="{'opacity':SS?'0':'1'}">

  <ion-navbar>
    <ion-title>{{grad?.title | prettyPrint}}</ion-title>
     <ion-buttons end>
       <button ion-button icon-only (click)="dismiss()">
         <ion-icon color="light" name="close"></ion-icon>
       </button>
     </ion-buttons>
  </ion-navbar>

</ion-header>



<ion-content [ngStyle]="css">
  <div class="css" [ngStyle]="{'opacity':SS?'0':'1'}" *ngIf="!SS">
    <h2>CSS</h2>
    <pre [innerHtml]="pre">
      <!-- <code >
      </code> -->
    </pre>

    <button color="white" ion-button  block clear (click)="copy()">
      <!-- <ion-icon name="copy"></ion-icon> -->
      COPY CSS
    </button>
    <button color="white" ion-button block clear (click)="screenshoot()">
      <!-- <ion-icon name="image"></ion-icon> -->
      Save gradient image
    </button>
  </div>
</ion-content>
